$primary: #abd3a9;
$not-quite-white: #f6f6f6;
$not-quite-black: #86868b;
$quite-black: #23272a;

$xs: 6px;
$sm: 12px;
$md: 16px;
$lg: 32px;
$xl: 64px;

$xs-screen: 320px;
$sm-screen: 480px;
$md-screen: 720px;
$lg-screen: 1080px;
$xl-screen: 1440px;

$transition: 0.2s ease-in-out;

$shadow: 0 1px 8px rgba(0, 0, 0, 0.15);
$big-shadow: 0 4px 16px rgba(0, 0, 0, 0.075);